# Virtual environment
venv/
.venv/
env/

# Environment variables & secrets
.env

# SQLite database
db.sqlite3
*.sqlite3

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo

# Static collection & media (if configured)
staticfiles/
media/
